html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  padding: .5rem;
  text-align: center;
}

.btn {
  color: #fff;
  background-color: #333;
  text-decoration: none;
}

.btn-subtle {
  color: #fff;
  background-color: #666;
  text-decoration: none;
}

.btn-Ghost {
  color: #333;
  border: 3px solid #333;
  text-decoration: none;
}

.btn-warning {
  color: #fff;
  background-color: #f33;
  text-decoration: none;
}

.btn-small {
  border-radius: 8px;
  padding: .4em .75em .3em;
}

.btn-big {
  border-radius: 8px;
  padding: .4em .75em .3em;
}
