html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  padding: .5rem;
  text-align: center;
}

/* buttons */

.btn {
  color: #fff;
  background-color: #333;
  text-decoration: none;
}

.btn-subtle {
  color: #fff;
  background-color: #ccc;
  text-decoration: none;
}

.btn-Ghost {
  color: #333;
  border: 3px solid #333;
  text-decoration: none;
}

.btn-warning {
  color: #fff;
  background-color: #f33;
  text-decoration: none;
}
/* hovers */

.btn a:hover {
  background-color: #000;
}

.btn-subtle a:hover {
  background-color: #333;
}

.btn-ghost a:hover {
  background-color: #333;
  color: #fff;
}

.btn-warning a:hover {
  background-color: #933;
}

/* sizes */
.btn-normal {
  font-size: 1.125rem;
  border: 3px;
  border-radius: 8px;
  padding: .4em .75em .3em;
}

.btn-small {
  font-size: .875rem;
  border: 3px;
  border-radius: 8px;
  padding: .4em .75em .3em;
}

.btn-big {
  font-size: 1.5rem;
  border: 3px;
  border-radius: 8px;
  padding: .4em .75em .3em;
}
